@tailwind base;
@tailwind components;
@tailwind utilities;

.app-card {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.app-card:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 25px 50px -12px rgb(124 58 237);
}